n8n/flows/ml_vendas_pri_voz_move_para_agendamento_aux_dev.json
{
  "nodes": [
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a4d25f67-e113-4437-9b74-0eabd33e9d1d",
              "name": "body.telefone",
              "value": "={{ $json.body.telefone }}",
              "type": "string"
            },
            {
              "id": "850b332b-02e8-4c58-a00e-243bd730840f",
              "name": "body.dia_escolhido",
              "value": "={{ $json.body.dia_escolhido }}",
              "type": "string"
            },
            {
              "id": "d6ead4d5-e319-4c1d-9227-46036d764b45",
              "name": "body.cliente_confirmado",
              "value": "={{ $json.body.cliente_confirmado }}",
              "type": "boolean"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1140,
        1140
      ],
      "id": "599798ba-2903-41ed-b7c3-f5cf3233d3fd",
      "name": "normaliza_cliente"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://n8n_webhook:5678/webhook/mobi-shadow-main-endpoint",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n\"ep\":\"mudastatus\",\n\"proposta\":\"{{ $json.ID }}\",\n\"status\":\"SCHEDULED\",\n\"statusDetailId\":48\n} ",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2380,
        1000
      ],
      "id": "f2c13c1a-2b42-4fe9-85be-15fabbcaee26",
      "name": "http_call_mover_agendamentos",
      "credentials": {
        "httpHeaderAuth": {
          "id": "hS1ZLQA4gXjQC6n0",
          "name": "webhook-tools-credential"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "pega-dados-ligacao",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        880,
        1140
      ],
      "id": "ef3bfdb4-7543-4371-b330-8810cc164e5a",
      "name": "wh_pos-chamada",
      "webhookId": "2dfeca06-4db2-4a5d-b3d7-3485b6fd204e"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "eadea262-a051-44e4-b039-f9a29e50003c",
              "name": "telefone",
              "value": "={{ $json.telefoneNormalizado }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1980,
        1300
      ],
      "id": "f35a02ce-2d46-41e6-a5c9-2343f18388cc",
      "name": "ligar_novamente"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "711bee58-5e3c-4009-9854-0f7c60365fe9",
              "leftValue": "={{ $('normaliza_cliente').item.json.body.cliente_confirmado }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1640,
        1140
      ],
      "id": "b9667df7-cb5c-4d6c-afcf-43e61d9118ca",
      "name": "cliente_confirmado?"
    },
    {
      "parameters": {
        "content": "## Cliente não quer confirmar agendamento e é enviado para segunda tentativa",
        "height": 300,
        "width": 920,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1880,
        1220
      ],
      "typeVersion": 1,
      "id": "1dc0d5c9-29d0-44d6-8270-612626e8c084",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "jsCode": "const telefone = $input.first().json.body.telefone;\n\n\nlet numeroNormalizado = telefone;\n\nif (telefone.startsWith('+55')) {\n  numeroNormalizado = telefone.substring(3);\n} else if (telefone.startsWith('55')) {\n  numeroNormalizado = telefone.substring(2);\n}\n\n// Retorna o resultado\nreturn {\n  json: {\n    telefoneOriginal: telefone,\n    telefoneNormalizado: numeroNormalizado\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1360,
        1140
      ],
      "id": "146f5c94-bd6c-4196-aaf7-fee03673c524",
      "name": "normaliza_telefone"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "eadea262-a051-44e4-b039-f9a29e50003c",
              "name": "telefone",
              "value": "={{ $json.telefoneNormalizado }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1940,
        1000
      ],
      "id": "6d6a68f7-c899-40d2-9032-250ae9a7fc8b",
      "name": "pega_telefone"
    },
    {
      "parameters": {
        "content": "## Normaliza dados que vem da chamada",
        "height": 260,
        "width": 440,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1080,
        1060
      ],
      "typeVersion": 1,
      "id": "f3842d05-46ce-4972-89cd-c622164ffb0f",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "## Cliente confirma o agendamento e é movido para agendamentos no Mobi",
        "height": 300,
        "width": 1100,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1880,
        900
      ],
      "typeVersion": 1,
      "id": "05abfbc0-0154-407d-bbd3-e5bde4fdb9a4",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## Fluxo de agendamento de lead para evento",
        "height": 960,
        "width": 2360,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        700,
        740
      ],
      "typeVersion": 1,
      "id": "c3e11bbd-ad0f-4942-a85a-d03728bba36d",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1k8RnWON40f90cQ5-8Bnp2SjiyxqlB3YeKBZMcdrYEqE/edit?gid=172408383#gid=172408383",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": 172408383,
          "mode": "list",
          "cachedResultName": "Planilha1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1k8RnWON40f90cQ5-8Bnp2SjiyxqlB3YeKBZMcdrYEqE/edit#gid=172408383"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "contato",
              "lookupValue": "={{ $json.telefone }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        2140,
        1000
      ],
      "id": "fcc142db-af61-4d70-b802-ffecbd3f0a77",
      "name": "pega_clientes_csv1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "BkASLxVX6iz1NS6f",
          "name": "Google Sheets account 6"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://n8n_webhook:5678/webhook/mobi-shadow-main-endpoint",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n\"ep\":\"insereTag\",\n\"dealerid\":\"18371\",\n\"proposalid\":\"{{ $('pega_clientes_csv1').item.json.ID }}\",\n\"tagId\":\"284118\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2600,
        1000
      ],
      "id": "a5f531fc-1d93-4ffd-a4f8-e5dbf0aeb46f",
      "name": "insere_tag",
      "credentials": {
        "httpHeaderAuth": {
          "id": "hS1ZLQA4gXjQC6n0",
          "name": "webhook-tools-credential"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1k8RnWON40f90cQ5-8Bnp2SjiyxqlB3YeKBZMcdrYEqE/edit?gid=172408383#gid=172408383",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": 172408383,
          "mode": "list",
          "cachedResultName": "Planilha1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1k8RnWON40f90cQ5-8Bnp2SjiyxqlB3YeKBZMcdrYEqE/edit#gid=172408383"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "contato",
              "lookupValue": "={{ $json.telefone }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        2180,
        1300
      ],
      "id": "c880a1a8-ff78-4f65-94e1-f30b7a1437f9",
      "name": "pega_clientes_csv",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "BkASLxVX6iz1NS6f",
          "name": "Google Sheets account 6"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        2400,
        1300
      ],
      "id": "6376973e-97f4-467f-8ced-a8a6aa08b7b2",
      "name": "No Operation, do nothing"
    }
  ],
  "connections": {
    "normaliza_cliente": {
      "main": [
        [
          {
            "node": "normaliza_telefone",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "http_call_mover_agendamentos": {
      "main": [
        [
          {
            "node": "insere_tag",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "wh_pos-chamada": {
      "main": [
        [
          {
            "node": "normaliza_cliente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ligar_novamente": {
      "main": [
        [
          {
            "node": "pega_clientes_csv",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "cliente_confirmado?": {
      "main": [
        [
          {
            "node": "pega_telefone",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "ligar_novamente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "normaliza_telefone": {
      "main": [
        [
          {
            "node": "cliente_confirmado?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pega_telefone": {
      "main": [
        [
          {
            "node": "pega_clientes_csv1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pega_clientes_csv1": {
      "main": [
        [
          {
            "node": "http_call_mover_agendamentos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "insere_tag": {
      "main": [
        []
      ]
    },
    "pega_clientes_csv": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {
    "wh_pos-chamada": [
      {
        "headers": {
          "host": "automatemaiawh.sagadatadriven.com.br",
          "user-agent": "ElevenLabs/1.0",
          "content-length": "82",
          "accept": "*/*",
          "accept-encoding": "gzip, deflate, br",
          "content-type": "application/json",
          "x-forwarded-for": "34.59.11.47",
          "x-forwarded-host": "automatemaiawh.sagadatadriven.com.br",
          "x-forwarded-port": "443",
          "x-forwarded-proto": "https",
          "x-forwarded-server": "f8207a8c3aa7",
          "x-real-ip": "34.59.11.47"
        },
        "params": {},
        "query": {},
        "body": {
          "telefone": "+5562986013559",
          "dia_escolhido": null,
          "cliente_confirmado": false
        },
        "webhookUrl": "https://automatemaiawh.sagadatadriven.com.br/webhook/pega-dados-ligacao",
        "executionMode": "production"
      }
    ]
  },
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "33738330930e3881dd5571eca013f36ddf8aab20e4ea5c1f2ebaf4a2b4668ac6"
  }
}